*{
	margin: 0;
	padding: 0;
}
.Khung{
	font-family: "Inter-Regular", Helvetica;
}
.Header{
	width: auto;
	height: 120px;
	display: flex;
}

.format{
	padding-left: 10px;
	padding-right: 10px;
}
.displayHeader{
	float: left;
	display: flex;
}
.ClassLI{
	list-style: none;
	line-height: 120px;
	padding-left: 50px;
	font-size: 20px;
	transition: 0.4s ease;
}
.bar{
	width: 0%;
	left: 0;
	height: 3px;
	position: relative;
	top: 75px;
	transition: 0.4s ease;
}
.ClassLI:hover .bar{
	background-color: #7facff;
	width: 100%;
	transition: 0.4s ease;
	cursor: pointer;
}
.ClassLI:hover{
	color: #7facff;
	transition: 0.4s ease;
	cursor: pointer;
}
.imgage{
	width: 220px;
	margin: auto;
	padding-right: 600px;
}
.displayRight{
	float: right;
	line-height: 120px;
	padding-right: 50px;
	font-size: 30px;
}
.NoiDung{
	position: absolute;
	top: 200px;

	color: white;
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 800px;
}
.nd{
	font-size: 30px;
}
.Mid_nd{
	font-size: 25px;
}
.Mid{
	height: 600px;
}
.boxbutton{
	margin-top: 30px;
	width: 250px;
	height: 50px;
	background-color: coral;
	border-radius: 100px;
	border: 2px solid coral;
	transition: 0.4s ease;
}
.boxbutton:hover{
	transition: 0.4s ease;
	background-color: #FFFFFF00;
	cursor: pointer;
}
.boxtext{
	position: relative;
	top: 15px;
	left: 70px;
}
.Products{
	padding: 50px;
}

.Prodisplay{
	height: 275px;
	display: flex;

}
.Box-prod{
	width: 275px;
	height: 275px;
	border: 2px solid black;
	border-radius: 20px 20px 20px 20px;
	margin: auto;
	margin-top: 40px;
}
.Box-prod:hover{
	cursor: pointer;
}
.Box-prod:hover .box-nd{
	color: #7facff;
	text-decoration: underline;
}
.box-nd{
	position: relative;
	top: 120px;
	left: 20px;
}
.Products-Title{
	font-size: 50px;
	margin-left: 90px;
	margin-top: 50px;
}

.Content{
}
.KhungContent{
	height: 600px;
	background-color: #f0f0f0;
	margin: 100px;
	border-radius: 20px 20px 20px 20px;
	display: flex;
}
.content-anh{
	width: 2500px;
	height: 100%;
	border-radius: 20px 0 0 20px;
	float: right;
}
.content-anh2{
	width: 2500px;
	height: 100%;
	border-radius: 0 20px 20px 0;
}
.content-nd{
	position: relative;
	top: 100px;
	margin: 50px;
}
.content-title{
	font-size: 50px;
	text-align: center;
}
.content-desc{
	font-size: 25px;
	text-align: center;
}
.khung-button-nd{
	width: 150px;
	height: 50px;
	border: 2px solid orangered;
	background-color: orangered;
	border-radius: 50px 50px 50px 50px;
	position: relative;
	top: 100px;
	left: 40%;
	transition: 0.4s ease;
}
.btn-nd {
	font-size: 20px;
	position: relative;
	top: 15px;
	left: 12px;
	color: white;
	transition: 0.4s ease;
}
.khung-button-nd:hover .btn-nd{
	color: #000000;
	transition: 0.4s ease;
}
.khung-button-nd:hover{
	background-color: #FFFFFF00;
	transition: 0.4s ease;
	cursor: pointer;
}
.BackGround-BG{
	width: 375px;
	height: 285px;
	background-color: #f0f0f0;
	margin: 60px;
	border-radius: 20px 20px 20px 20px;
}
.Store-Img{
	width: 75px;
	height: 75px;
	margin-top: 20px;
	margin-left: 35%;
}
.BGStore{
	text-align: center;
	line-height: 40px;
}
.Khung-Store{
	display: flex;
}
.Img-Top{
	width: 250px;
	height: 250px;
	padding: 10px 10px 10px 10px;
}
.top-nd{
	padding: 10px 10px 10px 10px;
}
.topbg{
	width: 270px;
	height: 270px;
	background-color: #f0f0f0;
	border: 2px solid #b2b2b2;
	border-radius: 20px 20px 20px 20px;
}
.Top-Display{
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;

}

.BoxEmail{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.displayFotter{
	display: flex;
	color: white;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-top: 50px;
	padding-bottom: 50px;
}
.Fot1{
	background-color: black;
}
.fot2{
	text-align: center;
	background-color: black;
}
.box{
	margin: auto;
	width: 300px;
	height: 200px;
}
.input-box{
	width: 100%;
	height: 50px;
	position: relative;
	padding: 40px 0;
}
.input{
	width: 300px;
	height: 50px;
	border: 2px solid #000000;
	border-radius: 40px;
	background: transparent;
	outline: none;
	color: #000000;
	padding: 0px 20px;
	font-size: 18px;
}
::placeholder{
	color: #c0c0c0;
}

.cssicon{
	position: absolute;
	top: 57px;
	font-size: 1.3em;
	color: #000000;
	right: 800px;
}
.cssicon2{
	position: absolute;
	top: 57px;
	font-size: 1.3em;
	color: #000000;
	right: 750px;
}
.shophtml{
	padding: 50px;
	font-size: 60px;
	width: 400px;
	height: 100px;
	background-color: white;
	color: black;
	border-radius: 20px;
}
.link{
	text-decoration: none;
}


.Title{
	margin-top: 100px;
	margin-left: 100px;
}
.desc{
	margin-left: 100px;
}
.ListProduct{
	height: 300px;
}
.LPTitle{
	width: auto;
	text-align: center;
	margin-top: 200px;
}
.hangloc{
	height: 800px;
	margin-left: 500px;
	margin-top: 100px;
}
.HangImg{
	width: 300px;
	height: 300px;
}
.TitleHang{
	width: 300px;
	position: relative;
	left: 325px;
	top: -300px;
}
.DanhGia{
	width: 300px;
	position: relative;
	left: 325px;
	top: -295px;
}
.ThuongHieu{
	width: 300px;
	position: relative;
	left: 325px;
	top: -290px;
}
.GiaTien{
	width: 300px;
	position: relative;
	left: 325px;
	top: -280px;
	font-size: 30px;
	color: #0a804a;
}
.delGia{
	width: auto;
	font-size: 20px;
	color: black;
}
.SoLuong{
	width: 300px;
	position: relative;
	left: 325px;
	top: -275px;
}
.button{
	width: auto;
	width: 30px;
	height: 30px;
}
.TxtSoLuong{
	height: 27px;
	width: 50px;
	text-align: center;
	margin-top: 5px;
}
.btnMuaNgay{
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
	width: 400px;
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	background-color: #0a804a;
	color: white;
	text-align: center;
	padding: 15px 5px 5px 5px;
}
.btnMuaNgay:hover{
	background-color: #3b996e;
	cursor: pointer;
}
.ContactTitle{
}
.contact{
	height: 200px;
}
.form-container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.form-container input,
.form-container textarea,
.form-container button {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
}

.form-container button {
	background-color: red;
	color: white;
	cursor: pointer;
}


.accordion {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: auto;
	padding-top: 20px;
}

.accordion-item {
	border: 1px solid #ccc;
	margin-bottom: 5px;
	position: relative; /* Thêm thuộc tính position để làm việc với mũi tên */
}

.accordion-item-header {
	padding: 10px;
	background-color: #f1f1f1;
	cursor: pointer;
	position: relative; /* Thêm thuộc tính position để làm việc với mũi tên */
	transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi màu */
}

.accordion-item-header.active {
	background-color: #59ffca; /* Đổi màu khi ở trạng thái mở */
}

/* Mũi tên đi xuống */
.accordion-item-header::after {
	content: '\25BC'; /* Unicode cho mũi tên xuống */
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s; /* Thêm hiệu ứng chuyển đổi mũi tên */
}

/* Đảo chiều mũi tên khi accordion-item-body được hiển thị */
.accordion-item.active .accordion-item-header::after {
	transform: translateY(-50%) rotate(180deg); /* Đảo chiều mũi tên khi ở trạng thái mở */
}

.accordion-item-body {
	display: none;
	padding: 10px;
}